<div *ngFor="let item of paginatedItems; let i = index" class="accordion-item" [ngStyle]="{'border-left-color': colors[i % colors.length]}">
  <div class="accordion-header" (click)="toggleItem(i)">
    <span>{{ (currentPage - 1) * itemsPerPage + i + 1 }}. {{ item.prenom }} {{ item.nom }}</span>
    <span class="accordion-icon">{{ item.open ? '-' : '+' }}</span>
  </div>
  <div *ngIf="item.open" class="accordion-content">
    <p>{{ item.Action }}</p>
    <ul>
      <li>Date: {{ formatDate(item.created_at) }}</li>
      <li>Heure: {{ formatTime(item.created_at) }}</li>
    </ul>
  </div>
</div>

<div class="pagination">
  <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1"> < </button>
  <span>{{ currentPage }} / {{ totalPages }}</span>
  <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"> > </button>
</div>
