<div class="graph-container">
  <div class="col-6">
    <div class="graph">
      <!-- <h3>Température quotidienne</h3> -->
      <select>
        <option value="temperature">Température</option>
        <option value="heures">Heures</option>
      </select>
      <canvas #dailyTemperatureChart></canvas>
    </div>
  </div>
  <div class="col-6">
    <div class="graph">
      <!-- <h3>Humidité annuelle</h3> -->
      <select>
        <option value="humidite">Humidité</option>
      </select>
      <canvas #annualHumidityChart></canvas>
    </div>
  </div>

