<div class="container-fluid justify-content-between align-items-center m-2 p-2"> <!-- Ajout de la classe justify-content-between -->
  <div class="row g-2"> <!-- Réduction de l'espacement avec g-2 -->
  <!-- Carte Météo -->
<div class="col-5 col-md-5">
  <div class="card weather-card shadow-sm">
    <div class="card-body">
      <div class="d-flex justify-content-between mb-3">
        <div>
          <h5 class="location mb-0">
            <i class="me-2 bi bi-geo-alt"></i> Dakar, Sénégal
          </h5>
        </div>
        <div class="text-end">
          <div class="date-day">{{ formattedDay }}</div>
          <div class="date">{{ formattedTime }}, {{ formattedDate }}</div>
        </div>
      </div>
      <div class="weather-info d-flex justify-content-between align-items-end">
        <div class="weather-icon">
          <img class="img-fluid w-100" [src]="weatherIcon" alt="Météo" style="max-width: 400px;" />
        </div>

        <div>
          <div class="temperature">
           <span class="current-temp">{{ temperature }}°C</span>
          </div>
          <div class="weather-status mt-2">{{ weatherCondition }}</div>
          <div class="weather-metrics mt-2">
            <div>🌬️ Vent: {{ windSpeed }} km/h</div>
            <div>☁️ Couverture nuageuse: {{ cloudiness }} %</div>
            <div>🌡️ Pression: {{ pressure }} hPa</div>
          </div>
        </div>
      </div>
      <div class="alert alert-warning mt-3">{{ weatherAlert }}</div>
    </div>
  </div>
</div>

<!-- Deuxième carte Métriques -->
<div class="col-5 col-md-5">
  <div class="card dashboard-card shadow-sm h-100"> <!-- Added h-100 -->
    <div class="card-body">
      <div class="row g-2">
        <!-- Boucle sur chaque élément dans le tableau metrics pour afficher chaque carte -->
        <div class="col-6" *ngFor="let metric of metrics">
          <div class="metric-card text-center pt-5 justify-content-center align-items-center ">
            <div class="metric-icon mb-2">{{ metric.icon }} {{ metric.title }}</div>
            <div class="metric-value">{{ metric.value }}</div>
            <div class="metric-unit">{{ metric.unit }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Troisième carte commandes -->
    <div class="col-2 col-md-2">
      <div class="card dashboard-card shadow-sm h-100"> <!-- Added h-100 -->
        <div class="card-body">
          <div class="row g-2">
            <!-- Volume Eau -->
            <!-- Volume Eau -->
          <div class="col-12">
            <div class="metric-card text-center pt-5 justify-content-center align-items-center">
              <i class="bi bi-cloud-rain"></i>
              <div class="metric-icon mb-2"> Arrossage </div>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="pumpOn" (change)="togglePump()">
                <!-- <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label> -->
              </div>
              <div>{{ pumpState }}</div>
              <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
            </div>
          </div>


            <!-- Humidité -->
            <!-- <div class="col-12">
              <div class="metric-card text-center pt-5 justify-content-center align-items-center">
                <i class="bi bi-lightbulb"></i>
                <div class="metric-icon mb-2"> Lumière </div>
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label> 
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid justify-content-between align-items-center m-2 p-2">
  <div class="row">
    <div class="col-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <app-graphs></app-graphs>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid justify-content-between align-items-center m-2 p-2">
  <div class="row">
    <div class="col-6 col-md-6">
      <div class="card ">
        <div class="card-title m-3 p-3">
          <h5>Action</h5>
        </div>
        <div class="card-body">
          <app-log-accordion></app-log-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
