<body>
  <div class="login-container">
    <!-- Conteneur pour le logo et le titre -->
    <div class="logo-title-container">
      <img src="assets/images/logo.png" alt="Logo" class="logo">
      <h1>Se Connecter</h1>
    </div>

    <!-- Sous-titre -->
    <p class="subtitle">KerelEco, Votre système intelligent pour la gestion de vos plantations</p>

    <!-- Options (masquées si showInputs est true) -->
    <div *ngIf="!showInputs" class="options">
      <div class="option">
        <div class="option-content">
          <span (click)="scanCard()">Option1: Scannez votre carte</span>
          <img src="assets/images/image-17.png" alt="Icon Left" class="option-icon1">
        </div>
      </div>
      <div class="separator"></div>
      <div class="option">
        <div class="option-content">
          <span (click)="enterCode()">Option2: Saisissez votre code secret</span>
          <img src="assets/images/image-18.png" alt="Icon Right" class="option-icon2">
        </div>
      </div>
    </div>

    <div *ngIf="showInputs" class="input-container">
      <input type="text" maxlength="1" (input)="onInputChange($event, 0)" #input0>
      <input type="text" maxlength="1" (input)="onInputChange($event, 1)" #input1>
      <input type="text" maxlength="1" (input)="onInputChange($event, 2)" #input2>
      <input type="text" maxlength="1" (input)="onInputChange($event, 3)" #input3>
    </div>

    <!-- Message d'erreur -->
    <div *ngIf="showError" class="error-message">
      Maximum 4 chiffres autorisés.
    </div>
  </div>
</body>
