<nav class="d-flex flex-column mt-5" style="width: 300px; height: 100vh;">
    <div class="sidebar-content nav flex-column nav-pills">
      <a 
        class="nav-link" 
        routerLink="/dashboard" 
        routerLinkActive="active"
      >
        Dashboard
      </a>
      <a 
        class="nav-link" 
        *ngIf="userRole !== 'user'"
        routerLink="/User-list" 
        routerLinkActive="active"
      >
        Utilisateurs
      </a>
      <a 
        class="nav-link" 
        routerLink="/arrosage" 
        routerLinkActive="active"
      >
        Arrossage
      </a>
      <a 
        class="nav-link" 
        *ngIf="userRole !== 'user'"
        routerLink="/historique" 
        routerLinkActive="active"
      >
        Historique
      </a>
    </div>
  </nav>