<div class="container-fluid h-100 d-flex flex-column">
  <app-header
    *ngIf="showLayout"
    class="py-2"
    (toggleSidebar)="toggleSidebar()"
    [isSidebarVisible]="sidebarVisible"
  >
  </app-header>

  <div class="row g-0 flex-grow-1 position-relative">
    <div
      class="sidebar-mobile-overlay"
      *ngIf="sidebarVisible"
      (click)="toggleSidebar()"
    ></div>

    <!-- Sidebar -->
    <div
      class="col-2 sidebar-col bg-light"
      [class.active]="sidebarVisible"
    >
      <app-sidebar *ngIf="showLayout"></app-sidebar>
    </div>

    <!-- Contenu principal -->
    <div
      class="col-10 main-content bg-light"
      [class.sidebar-open]="sidebarVisible"
    >
      <div class="content bg-light rounded shadow-sm h-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
