.custom-card {
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-left: #274C77 8px solid;
}

.card-title {
  font-weight: bold;
}

.card-body .d-flex {
  font-size: 0.9rem;
  color: #555;
}

.card-body .d-flex i {
  font-size: 1.2rem;
  color: #274C77;
}

  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .custom-input {
    border-radius: 20px; /* Bordures arrondies */
  }
  
  .table {
    margin-top: 2rem;
  }
  
  .custom-table {
    border-collapse: separate;
    border-spacing: 0 10px; /* Espacement entre les lignes */
  }
  
  .rounded-row {
    border-radius: 40px; /* Bordures arrondies */
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Légère ombre */
  }
  
  .rounded-row td {
    border: none; /* Pas de bordure entre les cellules */
    padding: 15px; /* Espacement interne */
  }
  
  .table-light th {
    background-color: #f8f9fa; /* Fond clair pour les en-têtes */
    border-bottom: 2px solid #dee2e6; /* Ligne de séparation en bas */
  }
  
  td .text-primary {
    font-weight: bold;
    color: #1e4169; /* Bleu Bootstrap */
  }
  
  .text-success {
    font-weight: bold;
    color: #198754; /* Vert Bootstrap */
  }
  